#home {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#image {
  border-radius: 50%;
  border: var(--headerColor) 2px solid;
  margin: 0;
  margin-bottom: 2em;
  padding: 0;
  width: 10em;
  height: 10em;
}

#links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator {
  height: 7em;
}

#search {
  width: 100%;
}
