#bar {
  margin: 1em;
  padding: 0.5em;
  width: 30em;
  height: 2.5em;
  border: 2px solid var(--orange);
  border-radius: 5px;
  background-color: var(--prussian-blue);
  color: var(--honey-yellow);
  text-align: center;
  font-size: larger;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#bar:focus {
  outline: none;
}

#button {
  border: none;
  background-color: var(--prussian-blue);
}

#icon {
  color: var(--honey-yellow);
  transform: scale(1.5);
}
