.FiveLinks {
  border: var(--orange) 2px solid;
  box-shadow: 0px 10px 5px #171d20;
  margin-top: 0;
  margin-left: 1.5em;
  margin-right: 1.5em;
  padding: 1em;
  background-color: var(--light-cornflower-blue);
  color: var(--orange);
  height: min-content;
}

.LinksList {
  margin: 0;
  list-style: none;
  padding: 0;
}

.listItem {
  color: var(--orange);
  padding: 0.2em;
  font-size: 1.25em;
}

.link {
  color: var(--prussian-blue);
}
